@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}

/** - Section Layouts -**/

/** - Card Layouts**/

/**paddings***/
.paddings{
  @apply lg:px-20 py-6 px-5;
}

/***Home****/
.projects-grid {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 w-full;
}
.hero-grid{
  @apply grid xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-4 mt-4 w-full;
}
.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
